.cart {
    display: flex;
    width: 100%;
    height: 100%;

    overflow: auto;
    background: rgba(17, 50, 85, 0.49);
    

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.cart__inner {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 50px 20px 40px;
    

    position: relative;

    background-color: #fff;
}
.cart__close {
    cursor: pointer;

    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
}
.cart__title {
    font-size: 24px;
    line-height: 26px;
    font-weight: 600;
    text-align: center;

    color: #2D2942;
}
.cart__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0;
   
}
.cart__items {
    height: 100%;
    max-height: 400px;
    overflow-y: scroll;
}
.cart__subtotal {
    border-top: 1px solid black; 
}
.cart__row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.cart__desc {
    font-size: 14px;
    color: #2D2942;
    font-weight: 600;
    
}
.cart__price {
    font-size: 14px;
    color: #2D2942;
    font-weight: 600;

}

.cart__total {
    border-top: 1px solid black;
    margin: 15px 0 30px;
}
.cart__button {
    padding: 15px 0;
    display: block;
    background-color: #2D2942;

    color: white;
    text-align: center;
}

@media (max-width: 450px) {
    .cart__title {
        font-size: 20px;
    }
    .cart__inner {
        padding: 50px 10px 40px;
    }
}
