.position {
    position: relative;
    
    
}

.content__categories {
    display: flex;
    overflow-x: auto;
    box-shadow: 0 4px 4px -2px gray;
    background-color: white;

    position: fixed;
    width: 100%;
    max-width: 780px;
    z-index: 10;

    margin-top: 65px;
}

.content__products {
    
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 400px;

    background-color: #FBFEFD;  
    
}

.content__width {
    width: 100%;
    padding-top: 100px;
    margin-bottom: -100px;
}
.content__width:nth-child(2) {
    padding-top: 130px;
}

.title { 
    display: block;
    width: 100%;

    font-size: 24px;
    font-weight: 600;
    padding: 30px 0;

    color: #2D2942;
    
} 


