.item {
    margin-bottom: 30px;
}
.item__inner {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 0;
}
.item__name {
    margin-bottom: 10px;

    font-size: 15px;
    font-weight: 600;

    color: #2C2C2C;
}
.item__price {
    font-size: 14px;
    color: #939393;
}
.item__quantity {
    display: flex;
}
.minus, .plus  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #FE5F1E;
    cursor: pointer;

    transition: background-color .2s linear;
    
}
.minus {   
    background-color: white;
    border: 3px solid #FE5F1E;
    margin-right: 10px;
}
.minus:active {
    background-color:#FE5F1E;
    
}
.plus:active {
    background-color:#b13b0c;
}

@media (max-width: 450px) {
    .item__name {
        font-size: 14px;
    }
    .item__price {
        font-size: 13px;
    }
    .item__minus, .item__plus {
        padding: 7px;
    }
}