.header {
    width: 100%;
    

    position: fixed;
    margin: 0 auto;
    
    z-index: 100;
    

    
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    

    height: 65px;

   

      
}
.header__back img {
    width: 45px;
}
.header__name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #2C2C2C;

    text-transform: uppercase;
}

.header__cart {
    display: flex;
    align-items: center;
    cursor: pointer;

    padding: 5px 25px;
    border-radius: 30px;
    margin-left: -25px;

    background-color: #FE5F1E;

    transition: background-color .2s linear;
}
.header__cart:active {
    background-color: #b13b0c;
}
.header__cart img {
    width: 40px;
    padding-right: 10px;
    border-right: 1px solid white;

    
    
}
.cart__count {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    padding-left: 10px;
    

    
    color: white;
    
}
@media (max-width: 800px) {
    .header {
        left: 0;
        transform: none;
    }
}

@media (max-width: 530px) {
    .header__name {
        font-size: 20px;
    }
    .header__cart img {
        width: 35px;
    }
    .header__back img {
        width: 35px;
    }
    .cart__count {
        top: -10px;
        right: 0;
        font-size: 14px;
    }
}